.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.407);
  z-index: 100;
}
.modal:hover {
  cursor: pointer;
}
.modal__form {
  position: relative;
  min-width: 200px;
  background-color: #fff;
  border-radius: 6px;
  padding: 32px;
}
.modal__form:hover {
  cursor: default;
}
.modal__form-wrap {
  display: flex;
  gap: 32px;
  align-items: center;
}
@media screen and (max-width: 425px) {
  .modal__form-wrap {
    flex-direction: column;
  }
}
.modal__form-close {
  display: none;
  position: absolute;
  right: 16px;
  top: 4px;
  font-size: 42px;
  color: #000;
}
@media screen and (max-width: 768px) {
  .modal__form-close {
    display: block;
  }
}
.modal__form-close:hover {
  cursor: pointer;
}
.modal__form-title {
  margin-bottom: 24px;
}
.modal__form-title--no-margin {
  margin: 0;
}
.modal__form-input {
  padding: 12px 20px;
  background: rgba(255, 255, 255, 0.569);
  border: 1px solid #7429BF;
  border-radius: 27px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal__form-input:hover {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .modal__form-input {
    flex-direction: column;
    align-items: end;
    gap: 28px;
  }
}
.modal__form-input-wrap {
  min-width: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.modal__form-input-mask {
  width: 100%;
}
.modal__form-input-mask input {
  display: none;
}
.modal__form-input-mask .modal__form-input-fake {
  display: block;
  padding: 12px 20px;
  background: rgba(255, 255, 255, 0.569);
  border: 1px solid #7429BF;
  border-radius: 27px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal__form-btn {
  border: 1px solid #7429BF;
  border-radius: 50%;
  color: #fff;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
}
.modal__form-btn-text {
  font-size: 20px;
  font-weight: 700;
}

select {
  background: rgba(255, 255, 255, 0.569) url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat !important;
  background-position: calc(100% - 16px) center !important;
}