$color-white: #fff;
$color-white-light: #F2F2F2;
$color-black: #000;
$color-dark: #6D7986;
$color-gray: #BDBDBD;
$color-orange: #FF776B;
$color-blue: #33DCD8;

$width-content: 1296px;
$width-max: 1440px;


@mixin laptopL {
    @media screen and (max-width: 1440px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: 425px) {
        @content;
    }
}